<!--
 * @Author: zhangyyyyyyf
 * @Date: 2023-02-20 11:30:39
 * @LastEditors: zhangyyyyyyf 1069624549@qq.com
 * @LastEditTime: 2023-02-20 11:39:37
 * @FilePath: \undefinedd:\githubku\my_jupyter\20230220RNAlength\get_RNA_bed.ipynb
 * @Description: 
 * 
-->

## 根据自己的merge文件，先把不同的RNA的id或者是name提取出来，之后在gtf文件中找到对应的行，再根据文档中的说明，提取RNA-seq的bed文件

In [1]:
import pandas as pd
import os

In [2]:
##merge文件
merge = pd.read_csv('merge1v1.txt',sep='\t')
gtf = pd.read_csv('0729_new8.all.gtf',sep='\t',header=None)

C:\Users\MyPC\AppData\Local\Temp\ipykernel_9024\2845192844.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  merge = pd.read_csv('merge1v1.txt',sep='\t')

In [ ]:
merge

In [3]:
#获取Gene Name	Gene type列
merge_name_type = merge[['Gene Name','Gene type']]

In [ ]:
merge_name_type

In [4]:
#删除Gene tName重复的行
merge_name_type = merge_name_type.drop_duplicates(subset='Gene Name')

In [ ]:
merge_name_type

In [ ]:
#编写一个函数，获取Gene type为XXX的行，并保存到文件中
def get_type(type):
    type_df = merge_name_type[merge_name_type['Gene type'] == type]
    type_df.to_csv(type+'.txt',index=False,sep='\t')
    return type_df
if __name__ == '__main__':
#创建一个list，存放需要获取的Gene type，Mt_rRNA,Mt_tRNA,lncRNA,miRNA,misc_RNA,other,protein_coding,pseudo,rRNA,scRNA,snRNA,snoRNA,tRNA,
    type_list = ['Mt_rRNA','Mt_tRNA','lncRNA','miRNA','misc_RNA','other','protein_coding','pseudo','rRNA','scRNA','snRNA','snoRNA','tRNA']
    for i in type_list:
        get_type(i)

In [ ]:
#遍历读取name_type文件夹下的文件，根据其中的Gene Name获取gtf文件中的行，以并保存到文件中
def get_bed(type):
    type_df = pd.read_csv('name_type/'+type+'.txt',sep='\t')
    type_name = type_df['Gene Name']
    #创建一个空的dataframe
    df_all = pd.DataFrame()
    for name in type_name:
        df = gtf[gtf[8].str.contains(name)]
        #将df保存到df_all中 
        df_all = pd.concat([df_all,df])
    df_all.to_csv('bed/'+type+'.gtf',index=False,sep='\t',header=None) ## 注意 此处的文件后缀有误，应该为gtf
    return type_df

if __name__ == '__main__':
    type_list = ['Mt_rRNA','Mt_tRNA','lncRNA','miRNA','misc_RNA','other','protein_coding','pseudo','rRNA','scRNA','snRNA','snoRNA','tRNA']
    for i in type_list:
        get_bed(i)

In [6]:
gtf

,0,1,2,3,4,5,6,7,8
0,NC_000001.11,BestRefSeq,gene,11874,14409,.,+,.,"gene_id ""100287102""; transcript_id ""100287102_..."
1,NC_000001.11,BestRefSeq,transcript,11874,14409,.,+,.,"gene_id ""100287102""; transcript_id ""NR_046018...."
2,NC_000001.11,BestRefSeq,exon,11874,12227,.,+,.,"gene_id ""100287102""; transcript_id ""NR_046018...."
3,NC_000001.11,BestRefSeq,exon,12613,12721,.,+,.,"gene_id ""100287102""; transcript_id ""NR_046018...."
4,NC_000001.11,BestRefSeq,exon,13221,14409,.,+,.,"gene_id ""100287102""; transcript_id ""NR_046018...."
...,...,...,...,...,...,...,...,...,...
1837823,NC_012920.1,RefSeq,transcript,15888,15953,.,+,.,"gene_id ""15919..15921)""; transcript_id ""unassi..."
1837824,NC_012920.1,RefSeq,exon,15888,15953,.,+,.,"gene_id ""15919..15921)""; transcript_id ""unassi..."
1837825,NC_012920.1,RefSeq,gene,15956,16023,.,-,.,"gene_id ""4571""; transcript_id ""4571_is gene""; ..."
1837826,NC_012920.1,RefSeq,transcript,15956,16023,.,-,.,"gene_id ""complement(15990..15992))""; transcrip..."
1837827,NC_012920.1,RefSeq,exon,15956,16023,.,-,.,"gene_id ""complement(15990..15992))""; transcrip..."